rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    // Data model:
    // users/{uid}
    //   trips/{tripId}
    //     places/{placeId}
    //     itineraryDays/{dayId}
    match /users/{userId}/{document=**} {
      allow read, write: if isOwner(userId);
    }
  }
}
